<%
   var date = post.getDate('post.date');
   var categories = post.getGroup('post.categories');
%>

  <% if (date) { %>
  <h2><%= date.getFullYear() %>年<%= date.getMonth() %>月<%= date.getDay() %>日</h2>
  <% } %>
  <div class="post">
    <h3 class="storytitle">
      <a href="<%= '#' %>"><%= post.getText('post.title') %></a>
    </h3>
    <div class="meta">
      <% if (categories && categories.length > 0) { %>
      Filed under:
      <%= _.map(categories, function(category) {
        return '<a href="' + category.url + '" rel="category tag">' + category.name + '</a>';
      }).join(","); %>
      -
    <% } %>
    leMMon
    </div>
    <div class="storycontent">
      <%- post.getStructuredText('post.body').asHtml() %>
    </div>
    <div class="feedback">
      <a href="http://lemmon.jp/2014/06/09/%e3%83%a1%e3%83%87%e3%82%a3%e3%82%a2%e3%81%ae%e3%81%82%e3%82%8a%e6%96%b9/#respond" title="Comment on メディアのあり方">Comments (0)</a>
    </div>
  </div>

