<%
   var date = new Date(post.data.date.json.value);
   var categories = null; // post.getGroup('post.categories');
%>

  <% if (date) { %>
  <h2><%= date.getFullYear() %>年<%= date.getMonth() %>月<%= date.getDay() %>日</h2>
  <% } %>
  <div class="post">
    <h3 class="storytitle">
      <a href="<%= '#' %>"><%= post.data.title.json.value %></a>
    </h3>
    <div class="meta">
      <% if (categories && categories.length > 0) { %>
      Filed under:
      <%= _.map(categories, function(category) {
        return '<a href="' + category.url + '" rel="category tag">' + category.name + '</a>';
      }).join(","); %>
      -
    <% } %>
    leMMon
    </div>
    <div class="storycontent">
      <%- post.data.body.html %>
    </div>
    TODO: Disqus
  </div>

