  <div class="post">
    <h3 class="storytitle" id="post-304"><a href="{{ permalink }}">{{ title }}</a></h3>
    <div class="meta">
      {{#if categories}}
      Filed under:
      {{#each categories}}
        <a href="{{url}}" rel="category tag">{{name}}</a>
      {{/each}} -
      {{/if}}
    leMMon @ <%= time %>
    </div>
    <div class="storycontent">
      {{ body }}
    </div>
    <div class="feedback">
      TODO: Disqus comments
    </div>
  </div>
